<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
	  throwExceptions="true">
	
	<time type='FastUTC' />

	<!--<extensions>
		<add assembly="NLog.Targets.GraylogHttp"/>
	</extensions>-->

	<targets>
		<target xsi:type="File" name="logfile" fileName="logs/${date:format=yyyy-MM-dd}.log" 
				layout="${longdate:universalTime=false}|${level}|${message}" />

		<target xsi:type="ColoredConsole" name="logconsole"
				layout="${longdate:universalTime=false}|${level}|${message}">
			<highlight-row condition="level == LogLevel.Trace" foregroundColor="NoChange" />
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="NoChange" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="NoChange" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="DarkRed" backgroundColor="NoChange" />
		</target>

		<!--<target name="graylog"
              xsi:type="GraylogHttp"
              facility="SecurityService"
              graylogServer="http://192.168.49.162"
              graylogPort="12201">
			--><!-- Location information. --><!--
			<parameter name="source_method" layout="${callsite}" />
			<parameter name="source_line" layout="${callsite-linenumber}" />

			<parameter name="test_prop" layout="${event-context:item=test_prop}" />
		</target>-->
		<!--<target xsi:type="Database" name="logdatabase"
				dbProvider="Npgsql.NpgsqlConnection, Npgsql"
				connectionString="${gdc:item=DefaultConnection}"
			
			<commandText>
				INSERT INTO public."Journals" ("Logged", "Level", "Message") VALUES (@date, @level, @message);
			</commandText>

			<parameter name="@date" layout="${longdate}" dbType="DateTime"/>
			<parameter name="@level" layout="${level}"/>
			<parameter name="@message" layout="${message}" />

		</target>
		-->
	</targets>

	<rules>
		<logger name="Microsoft.*" minlevel="Trace" final="true" />
		<logger name="System.Net.Http.HttpClient*" minlevel="Trace" final="true" />
		<logger name="*" minlevel="Info" writeTo="logfile"/>
		<logger name="*" minlevel="Info" writeTo="logconsole" />
		<!--<logger name="*" minlevel="Info" appendTo="graylog"/>-->
		<!--<logger name="*" minlevel="Info" writeTo="logdatabase" />-->
	</rules>
</nlog>